@import "../../css/breakpoints";

.hero {
  .container {
    display: flex;

    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
}
$pad: 40px;
$space: 0;
$stroke: 4px;

.box {
  position: relative;
  width: 85vw;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(62,61,81,1.00);

  @include tablet {
    width: 45vw;
  }

   > img {
    width: 85vw;
    height: 50vw;

    object-fit: cover;
    @include tablet {
      width: 45vw;
      height: 25vw;
    }
  }

  &::after {
    position: absolute;
    top: $pad;
    right: $pad;
    bottom: $pad - $space + 7px;
    left: $pad;
    display: block;
    content: '';
    border: solid $stroke white;
    border-bottom: 0;
  }
}

.text {
  position: absolute;
  right: $pad;
  bottom: $pad - $space;
  left: $pad;
  overflow: hidden;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space: nowrap;
}

.text > div {
  width: 2000px;
  margin-left: -1 * (2000px - (400px - $pad)) / 2;
}

.innertext::after,
.innertext::before {
  display: inline-block;
  width: 600px;
  height: $stroke;
  content: '';
  background: white;
}

.innertext::before {
  margin-right: 16px;
}

.innertext::after {
  margin-left: 16px;
}
