<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <img src="assets/images/annie-outdoors.jpg">
        <div class="text">
          <div>
            <span class="innertext">Annie Turlay</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content is-medium">
      <p>
        I am a senior producer with over 12 + years of agency experience currently working at CP+B in Boulder, CO. I have several years of direct experience with the production process and experience with small to big budget high pressure jobs across many platforms. I am a leader, multi-tasker, self-starter and a creative problem solver who has a passion for storytelling, creative filmmaking and production.
      </p>
      <h1>Clients</h1>
      <p>
        Ice Breakers//barkTHINS//Hershey's//Kraft Macaroni and Cheese//JELL-O//Crackle Barrel//Velveeta//Belvita//American Airlines//letgo//Fruit of the Loom//Infiniti//Old Navy//Applebee's//Charles Schwab//Hotels.com//American Express//BK//Volkswagen
      </p>
      <h1>Employment</h1>
      <strong>CP+B // Boulder, CO // 2007- Present</strong>
      <ul>
        <li>Lead integrated productions on Hershey's, Kraft, Applebee's, Fruit of the Loom, letgo</li>
        <li>
          Produced award winning integrated video work for Kraft, Fruit of the Loom and letgo
        </li>
      </ul>

      <strong>DDB // Chicago, IL // 2005-2007</strong>
      <ul>
        <li>Jr. produced work for Chicago Tribune, Office Max, Budweiser Select, Bud Light and internal videos</li>
        <li>Assistant to Director of Production</li>
        <li>Creative coordinator to the Bud and Bud Light group</li>
      </ul>

      <h1>Education</h1>
      <strong>University of Colorado Boulder // 1998-2002</strong>
      <p>BA in Communication<br />Minor in French</p>
      <h1>Contact</h1>
      <a href="mailto:annieturlay@gmail.com">Annieturlay@gmail.com</a>
    </div>
  </div>
</section>
