.hero {
  background: url(/assets/images/endless-clouds-2.svg);
  background-color: #9eebcf;
  background-size: 30px;
  @media(max-width: 769px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .container {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .box {
    position: absolute;
    bottom: -250px;
    display: flex;
    flex-direction: column;
    width: 60vw;

    justify-content: center;
    align-items: center;
  }
  img {
    height: 7vw;
  }
  .hero-title {
    text-align: center;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: #28282d;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #28282d;
  }
}

.projects {
  padding-top: 15rem;
}
.project-list {
  &__item {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  .link--play {
    position: absolute;
    &:hover {
      span {
        color: darken(#fff, 30%);
      }
    }
    span {
      font-size: 3.5rem;
      color: #fff;
    }
  }
  &__image {
    width: 100%;
    height: 25vw;
    background-position: center center;
    background-size: cover;
    border-radius: .5rem;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
}
