@import "../../css/breakpoints";
.hero {
  // background: url(/assets/images/anchors-away.svg);
  background-color: rgba(252,179,168,1.00);
  // background-color: #fff;
  // background-color: #010048;
  background-size: 42px;
  @media(max-width: 769px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .hero-body {
    @include tablet {
      padding-top: 13rem;
      padding-bottom: 13rem;
    }
  }
  .container {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .box {
    position: absolute;
    bottom: -264px;
    display: flex;
    flex-direction: column;
    width: 90vw;

    justify-content: center;
    align-items: center;
    @include tablet {
      bottom: -291px;
      width: 43vw;
    }
  }
  img {
    height: 7vw;
  }
  .hero-title {
    text-align: center;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: rgba(252,179,168,1.00);
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(252,179,168,1.00);
  }
}

.projects {
  padding-top: 9rem;

  @include tablet {
    padding-top: 11rem;
  }
}
.project-list {
  &__item {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  .link--play {
    position: absolute;
    &:hover {
      span {
        color: darken(#fff, 30%);
      }
    }
    span {
      font-size: 3.5rem;
      color: #fff;
    }
  }
  &__image {
    position: relative;
    width: 100%;
    height: 45vw;
    background-position: center center;
    background-size: cover;
    border-radius: .5rem;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    @include tablet {
      height: 20vw;
    }
  }
  .info {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;

    justify-content: flex-end;
    align-items: flex-start;
  }
}

.project-list__image {
  position: relative;
  overflow: hidden;
}

.project-list__image:hover .info {
  right: 0;
  left: 0;
}


.info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  color: #fff;
  background: rgba(0,0,0,.5);
  transition: top .7s, right .7s, bottom .7s, left .7s;
  .title,
  .subtitle {
    color: #fff;
    &:nth-child(2) {
      margin-bottom: 0;
      border-bottom: 3px solid rgba(252,179,168,1.00);
    }
  }
}

.info {
  right: 200%;
  left: -103%;
}
