<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="box">
      <img class="image" src="assets/images/annie.svg" />
      <div class="hero-title">
        <h1 class="title is-1">Annie Turlay</h1>
        <h2 class="subtitle is-3">sr. producer</h2>
      </div>
    </div>
  </div>
</div>
</section>
<section class="section projects">
  <div class="container is-fullhd">
    <div class="columns is-multiline project-list">
      <div class="column is-full project-list__item" *ngFor="let p of projects; let $index = index"
      (click)="onSelect(p, $index)" [class.selected]="p === selectedProject" (click)="openModal('custom-modal-1')">
      <a class="link link--play"><span class="icon icon--play"></span></a>
      <div [style.background-image]="'url(' + p.image + ')'" class="project-list__image"></div>
    </div>
  </div>
</div>
</section>

<app-modal class="site-modal" id="custom-modal-1">
  <div class="site-modal__content">
    <div class="site-modal__body modal-body">
      <div class="site-modal__video-container">
        <youtube-player
        *ngIf="selectedProject"
        protocol="https"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        [videoId]="selectedProject.youtubeid"
        [width]="'100%'"
        [height]="'100%'"
        [playerVars]="{
          'cc_load_policy': 1,
          'controls': 0,
          'disablekb': 1,
          'enablejsapi': 1,
          'fs': 0,
          'rel': 0,
          'showinfo': 0,
          'color': white
        }">
      </youtube-player>


      <a class="site-modal__action action--close" (click)="exitModal()">
        <span class="icon icon--close--thin"></span>
      </a>
    </div>

  </div>
</div>
<div class="site-modal__background"></div>
</app-modal>
