<section class="section video-header">
  <!-- <div class="img-container" style="background-image:url(assets/images/image3.jpeg)"></div> -->
<!-- <div class="container"> -->


  <!-- <video class="background-video" width="640" height="358" muted="" playsinline="" autoplay="" autoload="" autobuffer="" loop="">
    <source src="https://res.cloudinary.com/dj1xzcsre/video/upload/v1522809866/infiniti-splash_fhniwc.mp4" type="video/mp4">
    </video> -->
    <div class="video-overlay">
      <!-- <img class="image" src="assets/images/annie.svg" /> -->
      <h1>Annie Turlay</h1>
      <h2>sr. producer</h2>
    </div>
    <!-- </div> -->
  </section>
<section class="section work">
  <div class="container">

  </div>
</section>
