.section {
  background-color: #333;
}
.video-header {
  position: relative;
  height: 55vh;
  overflow: hidden;
  @media(min-width: 765px) {
    height: 80vh;
  }
  .img-container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  // video {
  //   position: absolute;
  //   top: 0;
  //   width: 100vw;
  //   height: 100vh;
  //
  //   object-fit: cover;
  //   object-position: center;
  // }
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    height: 100%;
    padding: 1rem;
    // background-image: linear-gradient( 135deg, #90f7ec 10%, #32ccbc 100%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAAEFsT2yAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFElEQVR4nGNhYGBwYIET////ZwAAETIDym2lzEcAAAAASUVORK5CYII=);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 2px 2px;

    justify-content: flex-start;
    align-items: flex-end;
    h1 {
      font-weight: 600;
      color: #fff;
    }
  }
}
