// Colors
$light-green: #9eebcf;
$white: #f5f7fa;
$black: #28282d;
// Misc
$base-font: 'Lato', sans-serif;
$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;
$fullhd: 1384px;
$close-btn-size: 50px;
$close-btn-before-width: 50px;
$close-btn-before-height: 10px;
$speed: 86ms;
//
$site-font-path: "../assets/fonts" !default;
$icon--envelope: \e900;
$icon--close: \e902;
$icon--play: \ea15;
$icon--pause: \ea16;
$icon--stop: \ea17;
$icon--linkedin: \eac9;
$icon--close--thin: \e901;
