// Colors
$peach-bud: rgba(252,179,168,1.00);
$light-green: #9eebcf;
$white: #fff;
$black: #28282d;
$blue: rgba(252,179,168,1.00);
$light-blue: #0064c8;
// Misc
$base-font: 'Lato', sans-serif;
$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;
$fullhd: 1384px;
$close-btn-size: 50px;
$close-btn-before-width: 50px;
$close-btn-before-height: 10px;
$speed: 86ms;
//
$site-font-path: "../assets/fonts" !default;
$icon--instagram: \e907;
$icon--close--thin: \e901;
$icon--twitter--filled: \e904;
$icon--twitter: \e905;
$icon--facebook: \e906;
$icon--cloud-download: \e903;
$icon--close: \e902;
$icon--email: \e900;
$icon--play: \ea15;
$icon--pause: \ea16;
$icon--stop: \ea17;
$icon--linkedin: \eac9;
// rgb(239,247,255)
