// Colors
$dark-green: #45515b;
$light-green: #75c7bf;
$lime: #96e8bf;
$light-teal: #e7f1ec;
$grey: #5b5e63;
$white: #f5f7fa;
$black: #4a4a4a;
$primary-dark: #28282d;
$purple: #655af3;
// $purple: rgba(111, 112, 233, .85);
$dark-purple: #576087;
$light-purple: #667eea;
$green: #26fa9a;
$blue: #27cbf4;
$primary-color: $purple;
$secondary-color: $green;
$background-grey: #5b5e63;
// Misc
$base-font: 'Open Sans', sans-serif;
$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;
$fullhd: 1384px;
$close-btn-size: 50px;
$close-btn-before-width: 50px;
$close-btn-before-height: 10px;
$speed: 86ms;
