@import "../../css/breakpoints";

.content {
  a {
    font-weight: bold;
    color: #036;
  }

  strong {
    color: #036;
  }
}

li {
  list-style: circle;
}

em {
  font-weight: bold;
  color: #036;
}
