<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Resume</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content is-medium">
      <h1>Clients</h1>
      <p>
        Ice Breakers <em>//</em> barkTHINS <em>//</em> Hershey's <em>//</em> Kraft Macaroni and Cheese <em>//</em> JELL-O <em>//</em> Crackle Barrel <em>//</em> Velveeta <em>//</em> Belvita <em>//</em> American Airlines <em>//</em> letgo <em>//</em> Fruit
        of the Loom <em>//</em> Infiniti <em>//</em> Old Navy <em>//</em> Applebee's <em>//</em> Charles Schwab <em>//</em> Hotels.com <em>//</em> American Express <em>//</em> BK <em>//</em> Volkswagen
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content is-medium">
      <h1>Employment</h1>
      <strong>CP+B // Boulder, CO // 2007- Present</strong>
      <ul>
        <li>Lead integrated productions on Hershey's, Kraft, Applebee's, Fruit of the Loom, letgo</li>
        <li>
          Produced award winning integrated video work for Kraft, Fruit of the Loom and letgo
        </li>
      </ul>

      <strong>DDB // Chicago, IL // 2005-2007</strong>
      <ul>
        <li>Jr. produced work for Chicago Tribune, Office Max, Budweiser Select, Bud Light and internal videos</li>
        <li>Assistant to Director of Production</li>
        <li>Creative coordinator to the Bud and Bud Light group</li>
      </ul>

      <h1>Education</h1>
      <strong>University of Colorado Boulder // 1998-2002</strong>
      <p>BA in Communication<br />Minor in French</p>
      <h1>Contact</h1>
      <a href="mailto:annieturlay@gmail.com">Annieturlay@gmail.com</a>
    </div>
  </div>
</section>
