.hero {
  position: relative;
  background-color: #222;
  background-image: linear-gradient(90deg, #222 50%, #fff 50%);
  background-size: 100% 50%;
  .left {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;
    background-image: url("/assets/images/annie-black.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    mix-blend-mode: multiply;
  }
  // .container {
  //   position: absolute;
  //   right: 0;
  // }
}

.section--clients {
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}
.level {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &-item {
    justify-content: flex-start;
    h1 {
      margin-right: 2rem;
    }

    .icon {
      height: 100%;
      font-size: 1.9rem;
    }
  }
}

.link {
  &:hover {
    color: #0064c8;
  }
}
.white {
  color: #fff;
}
h1 {
  text-transform: uppercase;
}

.section--education {
  background-color: #222;
}
ul.columns {
  margin-left: 0;
}
.content {
  a {
    font-weight: bold;
    color: #222;
  }
  strong {
    color: #222;
  }
}
.employment-item li {
  list-style: circle;
}
