@import "../node_modules/bulma/bulma";
.section {
  display: flex;
  height: 100vh;
  background: white;

   > div {
    // flex: 1 1 auto;
    // width: 100%;
    // margin: auto;
    // font-size: 5rem;
    // font-weight: bold;
    // text-align: center;
    // text-shadow: 0 2px 2px rgba(0, 0, 0, .3);

    p {
      font-size: 1rem;
      font-weight: normal;
      line-height: 2;
    }

    a {
      display: block;
      color: inherit;
    }
  }

  &--first {
    color: white;
    background-image: linear-gradient( 135deg, #f5cbff 10%, #c346c2 100%);

    clip-path: polygon(0 0%, 100% 0%, 100% 90%, 0% 100%);
  }


  &--third {
    color: white;
    background-image: linear-gradient( 135deg, #ce9ffc 0%, #7367f0 100%);

    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  }

  &--forth {
    color: white;
    background-image: linear-gradient( 135deg, #f5cbff 10%, #c346c2 100%);

    clip-path: polygon(0 10%, 100% 0%, 100% 80%, 0% 100%);
  }
}
